<div class="row" ng-controller="PortariaCtrl">
    <div class="col-12">
        <h1 class="main-title">Nova Visita</h1>
    </div>
    <div class="col-4 form-group">
        <label>Tipo</label>
        <select class="form-control" ng-model="visitante.tipo">
            <option value="fornecedor">Fornecedor</option>
            <option value="funcionario">Funcionario</option>
            <option value="visitante">Visitante</option>
        </select>
    </div>

    <div class="col-4 form-group">
        <label>RG</label>
        <input type="text" class="form-control" ng-model="visitante.rg" placeholder="Digite RG.Exemplo: MG17234899">
    </div>

    <div class="col-4 form-group">
        <button class="btn btn-success btn-block hasLabel30" ng-click="buscarVisitante(visitante)">
            Pesquisar
        </button>
    </div>

    <div class="col-8 form-group">
        <label>Nome</label>
        <input class="form-control" ng-disabled="!hasvalue" ng-model="visitante.nome"></input>
    </div>

    <div ng-if="visitante.tipo === 'visitante' && hasSearched" class="col-8 form-group">
        <label>Nome do Recuperando</label>
        <input class="form-control" ng-model="visitante.nomeRecuperando"></input>
    </div>

    <div ng-if="visitante.tipo === 'visitante' && hasSearched" class="col-4 form-group">
        <label>Parentesco</label>
        <input class="form-control" ng-model="visitante.parentesco"></input>
    </div>

    <div class="col-6"></div>

    <div class="col-12 text-right">
        <button class="btn btn-danger btn-round" ng-click="closeThisDialog(false)">
            Cancelar
        </button>

        <button class="btn btn-success btn-round" ng-click="adicionarVisita(visitante)">
            Adicionar
        </button>
    </div>
</div>