<div class="row" ng-controller="PortariaCtrl" ng-init="getTodasVisitas(filter)">
    <div class="col-12">
        <div class="row mb-4">
            <div class="col-6">
                <h3>Portaria</h3>
            </div>
            <div class="col-6 text-right">
                <button class=" btn btn-round btn-success" ng-click="OpenModalNovaVisita()">
                    Registrar Visita
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-3 form-group">
                <label>Data Inicio</label>
                <input type="date" class="form-control" ng-model="filter.dataInicio">
            </div>
            <div class="col-3 form-group">
                <label>Data Fim</label>
                <input type="date" class="form-control" ng-model="filter.dataFim">
            </div>
            <div class="col-3 form-group">
                <label>RG</label>
                <input type="text" class="form-control" ng-model="filter.rg" placeholder="Digite RG.Exemplo: MG17234899">
            </div>
            <div class="col-3 form-group">
                <button class="btn btn-success btn-block hasLabel" ng-click="getTodasVisitas(filter)">
                    Pesquisar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center wid-100">Tipo de Visitante</th>
                            <th class="text-center wid-100">Nome</th>
                            <th class="text-center wid-100">Identidade</th>
                            <th class="text-center wid-100">Hora de Entrada</th>
                            <th class="text-center wid-100">Parentesco</th>
                            <th class="text-center wid-100">Nome do Recuperando</th>
                            <th class="text-center wid-100">Registrar Sáida</th>
                        </tr>
                        <tbody>
                            <tr ng-repeat="visita in listaVisitas | filter:busca">
                                <td>{{visita.tipo}}</td>
                                <td>{{visita.nome}}</td>
                                <td class="text-center">{{visita.rg}}</td>
                                <td class="text-center">{{visita.dataEntrada}}</td>
                                <td class="text-center">{{(visita.parentesco) ? visita.parentesco: '---'}}</td>
                                <td class="text-center">{{(visita.nomeRecuperando) ? visita.nomeRecuperando: '---'}}</td>
                                <td class="text-center wid-100">
                                    <button class="btn btn-warning buttn-sm btn-round" ng-click="registrarSaida(visita.id)">
                                        <i class="fa fa-hand-o-left"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="!listaVisitas.length">
                                <td colspan="8">Não há nenhuma vista em aberto no momento</td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>