<div class="row" ng-controller="PortariaCtrl" ng-init="getHistoricoVisitas()">
    <div class="col-12">
        <div class="row mb-4">
            <div class="col-6">
                <h3>Histórico</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-3 form-group">
                <label>Data Inicio</label>
                <input type="date" class="form-control" ng-model="filter.dataInicio">
            </div>
            <div class="col-3 form-group">
                <label>Data Fim</label>
                <input type="date" class="form-control" ng-model="filter.dataFim">
            </div>
            <div class="col-3 form-group">
                <label>RG</label>
                <input type="text" class="form-control" ng-model="filter.rg" placeholder="Digite RG.Exemplo: MG17234899">
            </div>
            <div class="col-3 form-group">
                <button class="btn btn-success btn-block hasLabel" ng-click="getTodasVisitas(filter)">
                    Pesquisar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center wid-100">Tipo de Visitante</th>
                            <th class="text-center wid-100">Nome</th>
                            <th class="text-center wid-100">Identidade</th>
                            <th class="text-center wid-100">Hora de Entrada</th>
                            <th class="text-center wid-100">Hora de Saída</th>
                            <th class="text-center wid-100">Parentesco</th>
                            <th class="text-center wid-100">Nome do Recuperando</th>

                        </tr>
                        <tbody>
                            <tr ng-repeat="visita in listaVisitas | filter:busca">
                                <td>{{visita.tipo}}</td>
                                <td>{{visita.nome}}</td>
                                <td class="text-center">{{visita.rg}}</td>
                                <td class="text-center">{{visita.dataEntrada}}</td>
                                <td class="text-center">{{(visita.dataSaida) ? visita.dataSaida : 'Não Saiu'}}</td>
                                <td class="text-center">{{visita.parentesco}}</td>
                                <td class="text-center">{{visita.nomeRecuperando}}</td>
                            </tr>
                            <tr ng-if="!listaVisitas.length">
                                <td colspan="8">Nenhum registro de visita foi encontrado</td>
                            </tr>

                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>